/* ==========================================================================
   PROJECT
   ========================================================================== */

#project_main {
    margin-top: 0;
}

.project

  #project__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: calc(68vh - 81px);
    justify-content: center;
    padding: 120px 20px;
    position: relative;
    @media screen and (min-width: 768px) {
      padding: 40px;
    }
  }

    #project__logo {
      max-height: 120px;
    }

    #project__title {
      text-align: center;
      margin-top: 1em;
    }

    #project__description {
      text-align: center;
      max-width: 760px;
    }

    #project__wrapper {
        padding: 0 40px;
    }

    #project__content_wrapper {
        display: flex;
    }

    #project__sidebar {
        flex: 0 0 15%;
    }

    #project__content {
        flex: 1;
        margin-left: 1em;
    }

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

/* Project grid styles */

.project__item {
    height: 210px;
    text-align: center;

    .project__item-teaser {
        min-height: 50px;
    }

    img {
        max-width: 75%;
        max-height: 50px;
        display: block;
        margin: 0 auto;
    }

    .project__item-title {
        font-size: .8em;

        a {
          color: $text-color;
        }
    }

    .project__item-excerpt {
        font-size: .8em;

        @include breakpoint($large) {
          font-size: .7em;
        }
    }
}

.skills-list-wrapper {
    width: 100%;
    @include clearfix;

    h4 {
        margin-top: 1em;
        margin-bottom: .5em;
    }
}

.skills-list {
    list-style: none;
    float: left;
    width: calc(100% / 4);

    h4 {
        margin-bottom: .5em;
        font-weight: normal;
    }

    ul {
        margin: 0 .5em 0 0;
        list-style-type: circle;

        li {
            font-size: 0.65em
        }
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }

}

.project__showcase {
    h3 {
    }

    p {
        margin-bottom: 11px;
    }

    img.logo {
        max-height: 120px;
        margin: auto;
        display: block;
    }

    img.screenshot {
        border: medium solid $gray;
    }

    a {
        margin-bottom: 11px;
        font-size: .8em;
        display: block;
    }
}
