---
layout: archive
---
<div>
    <h3 class="">HELLO!</h3>
    <p>
       A lot of people call me "Shoe" but I rarely introduce myself as such despite preferring it. 
    </p>
    <p>
      If it has two wheels and pedals, I'll ride it. I race with a fine
    <p>
      I ride all kinds of bikes. I'm fortunate to <a href="https://www.instagram.com/p/BJJxofUgk8z/">race</a> with a great <a href="https://www.instagram.com/olympia_cycling/">group of folks</a>. We usually create a bit of a ruckus on and off the bike. One time I pedaled from <a href="https://www.instagram.com/p/BVK9ju-hG5s">Oregon</a> <a href="https://www.instagram.com/p/BWX8fYCA9AI">to</a> <a href="">Missouri</a>.
    </p>
    <p>
      I like computers. I started poking at software when I was 15. I broke my arm skateboarding and had a couple months to kill. I've been hooked ever since.
    </p>
    <p>
      I like things that are classic and weathered like Broncos and well-loved Herman Miller chairs.
    </p>
    <p>
      I prefer most things to be black.
    <p>
</div>

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->


<!--{% for post in paginator.posts %}-->
  <!--{% include archive-single.html %}-->
<!--{% endfor %}-->

<!--{% include paginator.html %}-->
