---
layout: single
---
<div>
    <p>
       A lot of people call me "Shoe" but I rarely introduce myself as such despite preferring it. 
    </p>
    <p>
      If it has two wheels and pedals, I'll ride it. I race with a fine group of folks who can be a bit of a ruckus. One time I pedaled from Oregon to Missouri.
    </p>
    <p>
      I like computers. I started poking at software when I was 15. I broke my arm skateboarding and had a couple months to kill. I've been hooked ever since.
    </p>
    <p>
      I like things that are classic and weathered like Broncos and well-loved Herman Miller chairs.
    </p>
    <p>
      I prefer most things to be black.
    </p>
</div>
