---
layout: single
---
<div>
    <p>
       A lot of people call me "Shoe" but I rarely introduce myself that way.
    </p>
    <p>
    If it has two wheels and pedals, I'll ride it. I race with a fine <a href="https://www.instagram.com/olympia_cycling/" rel="external">group of folks</a> who can be a bit of a ruckus. One time I pedaled from Oregon to Missouri.
    </p>
    <p>
      I like computers. I started poking at software when I was 15. I broke my arm skateboarding and had a couple months to kill. I've been hooked ever since.
    </p>
    <p>
      I like things that are classic and weathered like 70s Broncos and well-loved Herman Miller chairs.
    </p>
    <p>
      I prefer most things to be black.
    </p>
</div>
