---
layout: default
---

<div id="project__main" role="main">
    <article class="project" itemscope itemtype="http://schema.org/CreativeWork">
        <div id="project__header">
            {% if page.logo %}<img id="project__logo" src="{{ page.logo.url }}" alt="{{ page.logo.alt}}"/>{% endif %}
            {% if page.title %}
                <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
                <h2 id="project__title">{{ page.title }}</h2>
            {% endif %}
            {% if page.description %}
                <meta itemprop="description" content="{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}">
                <p id="project__description">
                    {{ page.description | markdownify | strip_html | strip_newlines | escape_once }}
                </p>
            {% endif %}
        </div>
        <div id="project__wrapper">
            <div id="project__gallery">
                {% include gallery caption="" %}
            </div>
            <section id="project__content_wrapper">
                <div id="project__sidebar">
                    {% include sidebar.html %}
                </div>
                <div id="project__content" class="page__content" itemprop="text">
                    {{ content }}
                </div>
            </section>
        </div>
    </article>
</div>
